<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.dao.deptMapper">

    <select id="queryAllDept" resultType="com.pojo.dept">
        select * from dept
    </select>

    <insert id="addDept" parameterType="com.pojo.dept">
        insert into dept (deptid,deptName) values (#{deptid},#{deptName})
    </insert>

    <delete id="delDept" parameterType="java.lang.String">
        delete from dept where deptid=#{deptid}
    </delete>

    <update id="changeDept" parameterType="com.pojo.dept">
        update dept set deptName = #{deptName} where deptid=#{deptid}
    </update>

    <select id="queryDeptName" resultType="java.lang.String">
        select deptName from dept where deptid=#{deptid}
    </select>


</mapper>