<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.dao.empMapper">

    <resultMap id="res" type="com.pojo.emp">
        <result property="empid" column="empid"/>
        <result property="empName" column="empName"/>
        <association property="dept" javaType="com.pojo.dept">
            <result property="deptid" column="deptid"/>
            <result property="deptName" column="deptName"/>
        </association>
        <association property="admin" javaType="com.pojo.admin">
            <result property="id" column="id"/>
            <result property="password" column="password"/>
        </association>
    </resultMap>


    <select id="queryAllEmp" resultMap="res">
--      多表查询别忘了等值连接
       select empid,empName,emp.deptid,dept.deptName,admin.id,admin.password from emp,dept,admin where dept.deptid=emp.deptid
       and admin.id=emp.id
       ;
    </select>

    <insert id="addEmp" parameterType="com.pojo.emp">
        insert into emp (empid,empName,deptid,id) values (#{empid},#{empName},#{dept.deptid},#{admin.id});
    </insert>


    <delete id="delEmp" parameterType="java.lang.String">
        delete from emp where empid=#{empid}
    </delete>


    <update id="changeEmp" parameterType="com.pojo.emp">
        update emp set empName = #{empName}, deptid= #{dept.deptid} where empid=#{empid};
    </update>


    <select id="queryEmpAdminID" resultType="java.lang.String">
        select id from emp where empid=#{empid};
    </select>


    <delete id="delEmpByAdminID">
        delete from emp where id=#{adminID}
    </delete>


</mapper>